.page-login,
.page-signup {
  //   padding-top: 26.3rem;
  min-height: 100vh;
  padding-top: 86px;
  h1 {
    color: $color-gc-blue;
  }
  @media (max-width: 991px) {
    min-height: auto;
  }

  .content-container.left {
    // padding-top: 26.3rem;
    padding-left: calc((100vw - 1150px) / 2);
    padding-right: 102px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    @media (max-width: 991px) {
      padding-right: 0;
    }
    @media (max-width: 768px) {
      margin-bottom: 30px;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .inner {
      flex-grow: 1;
      .header-box {
        margin-bottom: 2.4rem;
      }
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
  .content-container.right {
    background-color: $color-grey-solid;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: -15px;
    padding-left: 15px;
    @media (min-width: 1366px) {
      // margin-left: 40px;
    }
    @media (max-width: 768px) {
      display: none;
    }
    .header-box {
      margin-bottom: 3.9rem;
      @media (min-width: 1200px) {
        padding-left: 117px;
      }
    }
    .button-container {
      @media (min-width: 1200px) {
        padding-left: 117px;
      }
    }
    h3 {
      font-size: 20px;
      font-weight: 700;
    }
    ul {
      margin: 0;
      padding: 0;
      margin-top: 2.7rem;
      padding-left: 3rem;
      margin-bottom: 7.3rem;
      li {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }
}
.signup-form-step-1 {
  height: calc(100vh - 86px);
  @media (max-width: 991px) {
    height: auto;
    padding-bottom: 30px;
  }
  .container-fluid,
  .row {
    height: 100%;
  }
  .header-box {
    margin-bottom: 4.2rem;
  }
  .content-container.right {
    height: 100%;
  }
  .banner-bottom {
    padding: 0 20px;
    .header-box {
      margin: 0;
      margin-right: 20px;
    }
  }
}

.signup-form-step-2 {
  // padding-top: 24rem;
  .header-box {
    margin-bottom: 6.1rem;
  }
  .error {
    margin-bottom: 4.8rem;
  }
}

.gc-form {
  // height: 26.3rem;
  @media (max-width: 768px) {
    width: 80%;
    margin: 0 auto;
  }
  // .error.email {
  //   margin-bottom: 4rem;
  // }
  // .error.password,
  // .error.passwordLogin {
  //   margin-bottom: 4rem;
  // }
  // .error.passwordConfirm {
  //   margin-bottom: 4.8rem;
  // }
  .input-group-outer {
    margin-bottom: 4rem;
  }
  input,
  select {
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 10px !important;
    padding: 24px 36px 24px 12px;
    border: 2px solid $color-gc-blue;
    transition: all 0.3s ease;

    &:active,
    &:focus {
      border-color: $color-gc-cyan;
    }
  }
  .input-group {
    .input-group-append {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 3;
    }
  }
  .input-container {
    display: flex;
    flex-direction: column;
    select {
      padding: 12px;
    }
  }
  .terms-conditions-box {
    margin-bottom: 5rem;
    p {
      margin: 0;
      font-size: 18px;
    }
    input[type="checkbox"] {
      margin-right: 14px;
    }
    .input-group {
      flex-wrap: nowrap;
      &:not(:last-child) {
        margin-bottom: 4.1rem;
      }
    }
  }
  .button-container {
    button {
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

.error {
  color: $color-error;
}

.banner-bottom {
  display: none;
  background-color: $color-grey-solid;
  padding: 21px 0;

  .header-box {
    margin-right: 20px;
    h3 {
      font-size: 24px;
      margin-bottom: 0;
      color: $color-gc-blue;
    }
  }

  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.signup-form-step-2 {
  .banner-bottom {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5.3rem;
    .header-box {
      margin-bottom: 0;
    }
  }
}

.input-group-outer {
  position: relative;
  .error {
    position: absolute;
  }
}

.error-static {
  position: inherit !important;
  height: auto;
  transition: all 0.3s ease;
}

.page-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  @media (max-width: 991px) {
    flex-direction: column;
    min-height: auto;
  }
  .content-container.right {
    @media (min-width: 991px) {
      min-height: 100vh;
    }
  }
  .banner-bottom {
    width: 100%;
  }
}

.page-login {
  form {
    width: 100%;
  }
  .content-container.left {
    flex-direction: column;
    align-items: baseline;
    .button-container {
      margin-top: 20px;
    }
  }
}

.content-container.right {
  background-size: cover;
  position: relative;
  .slider-overlay {
    background-image: linear-gradient(
      to bottom,
      rgba(21, 66, 107, 0.8),
      rgba(21, 66, 107, 0)
    );
  }
  .header-box {
    position: relative;
    h1 {
      color: white;
    }
  }
  .button-container {
    position: relative;
  }
}
